body {
  padding: 0;
  margin: 0;
}

#debug_buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.hidden {
  display: none;
}

.ge-preview {
  /* Apply background ONLY to columns that do NOT have another .ge-row inside */
  [class^="ge-col-"]:not(:has(.ge-row)) {
    background: #efefef !important;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
}
