@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --preview-row-gap: 15px;
  --preview-gap: 7px;
  --preview-row-height: 120px;
  --ge-primary-color: #c0eaff;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

#debug_buttons {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.hidden {
  display: none;
}

.ge-preview {
  & > .ge-row {
    min-height: var(--preview-row-height, 120px);
  }

  .ge-row {
    gap: var(--preview-row-gap, 10px);
  }

  [class^="ge-col-"] .ge-row,
  [class^="ge-col-"]:has(.ge-row > [class^="ge-col-"]) {
    gap: var(--preview-gap, 10px);
  }

  /* Apply background ONLY to columns that do NOT have another .ge-row inside */
  [class^="ge-col-"]:not(:has(.ge-row)) {
    background-color: #efefef;
    border-radius: 4px;
  }

  [class^="ge-col-"]:has(.ge-row) {
    padding: var(--preview-gap, 10px);
    border: 1px solid #ddd;
    border-radius: 10px;
  }
}

div#grid_demo {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.grid-group-tabs {
  width: 70vw !important;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
}

.ge-container > .ge-row {
  > .ge-col,
  > [class^="ge-col-"],
  > [class*=" ge-col-"] {
    &:hover {
      background-color: color-mix(
        in srgb,
        var(--ge-primary-color) 40%,
        transparent
      );

      .ge-col,
      [class^="ge-col-"],
      [class*=" ge-col-"] {
        background-color: var(--ge-primary-color, #c0eaff);
      }
    }
  }
}
