@use "sass:map";
@use "sass:list";

/* Breakpoints Map */
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1400px,
  xxl: 1600px,
);

/* Media Query Mixin */
@mixin ge-media($size) {
  @if map.has-key($breakpoints, $size) {
    @media (max-width: map.get($breakpoints, $size)) {
      @content;
    }
  }
}

/* Shadow Mixin */
@mixin ge-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Helper: Get MIN width of breakpoint range */
@function ge-min-width($bp) {
  @if $bp == xs {
    @return 0px;
  }
  $keys: map.keys($breakpoints);
  $index: list.index($keys, $bp);
  $prev: list.nth($keys, $index - 1);
  @return map.get($breakpoints, $prev);
}

/* Helper: Get MAX width of breakpoint range */
@function ge-max-width($bp) {
  @return map.get($breakpoints, $bp);
}
