@use "sass:color";

:root {
  --ge-primary-color: #c0eaff;
  --ge-bg-color: #fff;
  --ge-gap: 16px;
  --ge-row-gap: 16px;

  @each $name,
    $color
      in (
        primary: #007bff,
        secondary: #6c757d,
        success: #28a745,
        danger: #dc3545,
        warning: #ffc107,
        info: #17a2b8,
        light: #f8f9fa,
        dark: #343a40
      )
  {
    --#{$name}: #{$color};
    --#{$name}-hover: #{color.scale($color, $lightness: 10%)};
    --#{$name}-text: #{if($name == light, #000, #fff)};
  }

  /* Common Variables */
  --btn-font-family: "Inter", sans-serif;
  --btn-font-size: 1rem;
  --btn-padding-y: 0.5rem;
  --btn-padding-x: 1rem;
  --btn-radius: 0.275rem;
  --btn-transition: 0.2s ease-in-out;
  --btn-disabled-opacity: 0.6;
}
